/*variables.scss*/
$white: #fff; 
$red: #C73B0F;
$green: #1EA575;
$black: #000000;
$darkBrown: #260F08;
$brown: #87635A;
$pinkBrown: #AD8A85;
$roseBrown: #CAAFA7;
$rosePink: #F5EEEC;
$roseWhite: #FCF8F6;
$font: "Red Hat Text", sans-serif;